Васиков/3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Online_Album">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Albums">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="album" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="album_id"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="discription"/>
                    <xs:element type="xs:short" name="view"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Photos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="photo" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="photo_id"/>
                    <xs:element type="xs:string" name="album_id"/>
                    <xs:element type="xs:string" name="location_id"/>
                    <xs:element type="xs:byte" name="member_id"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="discription"/>
                    <xs:element type="xs:string" name="publication_date"/>
                    <xs:element type="xs:short" name="view"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Locations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="location" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="location_id"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="short_name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Members">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="member" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="member_id"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:long" name="phone_number"/>
                    <xs:element type="xs:string" name="email"/>
                    <xs:element type="xs:string" name="address"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Comments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="comments" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="comments_id"/>
                    <xs:element type="xs:string" name="photo_id"/>
                    <xs:element type="xs:string" name="publication_date"/>
                    <xs:element type="xs:string" name="content"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Tags">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tag" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="tag_id"/>
                    <xs:element type="xs:string" name="name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Photo_Tags">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="photo_tag" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="tag_id"/>
                    <xs:element type="xs:string" name="photo_id"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>